* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#container {
  min-height: 100vh;
  background: linear-gradient(180deg, #0B2026 0%, #041536 100%);

  display: flex;
  justify-content: center;
}

h1 {
  color: #16F57D;
  font-weight: 700;
  text-align: center;
  font-size: 26px;

  padding-bottom: 41px;
}

.container__all {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container__quote {
  background: rgba(1, 17, 20, 0.8);
  box-shadow: 1.85252px 1.85252px 3.70505px rgba(14, 14, 14, 0.25);
  border-radius: 3.70505px;

  padding: 42px 22px 42px 22px;
  margin: 0 16px;

  position: relative;
}


.container__quote-quote {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
}

.container__quote-quote::before {
  content: open-quote;
}

.container__quote-quote::after {
  content: close-quote;
}

.container__quote-author {
  color: #FFFFFF;
  text-align: end;
  padding-top: 5px;
  font-size: 12px;
}

.container__quote-author::before {
  content: "—";
}

.divider-line {
  display: flex;
  justify-content: center;
  position: relative;
  height: 24px;
  margin: 8px 0 30px;
}

.divider-line p:first-child {
  border-bottom: 1px solid #F2F2F2;
  width: 100%;
  margin-right: 20px;  
  opacity: 0.5;
}

.divider-line-equals {
  display: block;
  margin: 0 -1px 0 5px;
  color: #f2f2f2;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  opacity: 0.95;
}

.divider-line p:last-child {
  border-bottom: 1px solid #F2F2F2;
  width: 100%;
  margin-left: 20px;  
  opacity: 0.5;
}


img {
  width: 29px;
  position: absolute;
  top: 85%;
  left: 43%;
  background-color: #16F57D;
  border: 14px solid #16F57D;
  border-radius: 20px;
  cursor: pointer;
}

img:hover {
  
  background-color: #1adb74;
  border: 14px solid #1adb74;

}


@media (min-width: 768px) {
  h1 {
    font-size: 42px;
  }
  #container__quote {
    padding: 40px 66px 42px 66px;
    max-width: 744px;
    border-radius: 7.69987px;
    box-shadow: 3.84994px 3.84994px 7.69987px rgba(14, 14, 14, 0.25);
  }


  .container__quote-quote {
   font-size: 32px;
  }

  .container__quote-author {
    font-size: 24px;
  }

  .divider-line {
    margin: 22px 0 64px;
  }

  img {
    width: 62px;
    border: 26px solid #16F57D;
    border-radius: 40px;
    left: 42%;
  }

  img:hover {
  
    background-color: #1adb74;
    border: 26px solid #1adb74;
  
  }
}

@media (min-width: 1024px) {
  #container__quote {
    padding: 63px 69px 43px 70px;
    width: 744px;
  }

  .divider-line {
    margin: 23px 0 60px;
  }
 
}